/*font-family: 'Slabo 27px', serif;
font-family: 'Roboto', sans-serif;*/

#wrapper {
  margin: 0 auto;
  text-align: center;

}

#results {
  /*border: 1px solid red;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*background-color: gray;*/
}

#results p {
  font-family: 'Roboto', sans-serif;
}

.recipeBox {
  /*border: 1px solid red;*/
  margin: 5px;
  padding-bottom: 20px;
  flex-basis: 250px;
  background: #e5e5e5;
}

h1, .recipeBox h2 {
  font-family: 'Slabo 27px', serif;
  color: #B20003;
}

h1 {
  text-transform: uppercase;
}

.recipeBox h2 {
  padding: 0 5px;
}

h2 {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Slabo 27px', serif;
}

.recipeBox a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background: #FBDB3B;
  color: black;
  padding: 5px;
}

.recipeBox a:hover {
  color: #B20003;
}

form {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #B20003;
}

.foodPhoto {
  width: 100%;
}

.filler {
  width: 250px;
  height: 400px;
  background-color: red;
  margin: 5px;
  overflow: hidden;
}

.filler img {
  height: 100%;
  /*overflow: hidden;*/
}

#credit {
  font-family: 'Slabo 27px', serif;
}
